# Supabase Configuration
VITE_SUPABASE_URL=https://ltpxwagdnrtuulzhfdjk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cHh3YWdkbnJ0dXVsemhmZGprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzNjM3MjEsImV4cCI6MjEwNTkzOTcyMX0.BzdBFiv16a6O4g6MV4H-sWPELTss5yvL9j2V_q7YoZY

# Port configuration
PORT=3000
